.selected {
    border: 1px solid green;
}

.dead-center {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    height: calc(100% - 78px);
}

.no-box {
  box-shadow: none !important;
}

mat-accordion:hover {
  background-color: white !important;
}

mat-accordion{
  flex-grow: 1;

}

mat-card {
    margin-left: 20px;
    margin-bottom: 20px;
}

.mat-card-image {
    width: auto;
    margin: 0 -16px 16px -16px;
    display: flex;
}

mat-panel-description{
  margin: 0%;
  flex-grow: 1;
}

mat-expansion-panel:hover {
  background-color: white !important;
}

mat-expansion-panel{
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-expansion-panel-header:hover {
  background-color: white !important;
}

mat-expansion-panel-header {
  padding: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.flex-start {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
}

.flex-end {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  flex-direction: row;
  text-align: left;
}